body {
	font-family: sans-serif;
}

a{
    opacity: 0.8;
    color:rgb(23, 42, 153);
}

a:hover {
    transition: .5s;
    color: rgb(252, 152, 1);
}

#idselector{
    color: fuchsia;
}

.classselector{
    color: turquoise;
}

img{
	opacity: 0.8;
}
img:hover{
	opacity: 1;
}

/* light theme */
.light_theme {
    color: rgb(41, 41, 43);
    background-color:rgb(247, 247, 247);
    
}

/* dark theme */
.dark_theme {
    color:rgb(247, 247, 247);
    background-color: rgb(41, 41, 43);
}

